*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	line-height: 1.5;
}

input,
button,
textarea,
select {
	font: inherit;
}
