$white1: #ffffff;
$white2: #efefef;

$gray1: #cecece;
$gray2: #a0a0a0;
$gray3: #52565f;
$gray4: #3b3e45;
$gray5: #2f3238;
$gray6: #292929;

$black: #000000;

$red: #c02722;
$green: #23d32b;

$accent-color: #1ca8b6;
$focus-color: #0b50cf;
