table {
	font-size: 1.5rem;
	border-collapse: collapse;
	width: 100%;

	&.thin {
		width: auto;
	}

	thead {
		font-weight: normal;
		font-size: 1.2em;
		text-align: left;

		tr {
			border-bottom: 2px solid var(--clr-font);
		}
	}

	tbody {
		tr:nth-child(even) {
			background-color: var(--clr-bg2);
		}
	}

	th,
	td {
		padding: 0.2rem 0.3rem;
	}
}
